
<nav class="navbar navbar-expand-lg navbar-light n1">
    
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <small class="txt1">460 West 34th Street, 15th floor, New York - Hotline. 804-377-3580 - 804-399-3580</small>
      </li>
     
      <li class="nav-item">
          <a class="nav-link"  href="#"><small>Help</small> </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"  href="#"><small> Order Status</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#"><small>Contact</small> </a>
        </li>
        <li class="nav-item">
          <button type="submit"><small><i class="fa fa-search"></i></small></button>
        </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light n2">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" style="color: black;" routerLink="/home">HOME </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="#">OUR STORY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="#">MY BAKES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black;" routerLink="/blog" href="#">BLOG</a>
          </li>
          <li class="nav-item">
            <img src="../../assets/images/Capture.JPG" alt="logo">
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black;" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black;" href="#">LOGIN</a>
          </li>
          <li class="nav-item">
            <button type="submit"><i class="fa fa-shopping-cart"></i></button>
          </li>
      </ul>
    </div>
  </nav>