.footer {
    padding-right: 20px;
    position: relative;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dcdcdc;
    color: black;
    text-align: center;
  }

  a{
      color: black;
  }

  img{
    height: 100px;
    width: 100px;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }

  h6{
      font-weight: bold;
  }