<div class="footer">
    <div class="row">
        
        <div class="col-sm-2">
            <div>
                <br>
            </div>
            <img src="../../assets/images/Capture.JPG" alt="logo">
        </div>
        <div>
            <br>
        </div>
        <div class="col-sm-2">
            <div>
                <br>
            </div>
            <h6>CATEGORIES</h6>
         <div>
             <div>
                 <br>
             </div>
            <a href="">Cookies</a>
        </div>
        <div>
            <a href="">Muffins</a>
        </div>
        <div>
            <a href="">Cakes</a>
        </div>
        <div>
            <a href="">Recipe</a>
        </div>
        <div>
            <br>
        </div>
            
        </div>
        <div class="col-sm-2">
            <div>
                <br>
            </div>
            <h6>ABOUT</h6>
            <div>
                <div>
                    <br>
                </div>
               <a href="">Company</a>
           </div>
           <div>
               <a href="">Support</a>
           </div>
           <div>
               <a href="">Blog</a>
           </div>
           <div>
               <br>
           </div>
        </div>
        <div class="col-sm-2">
            <div>
                <br>
            </div>
            <h6>HELP</h6>
            <div>
                <div>
                    <br>
                </div>
               <a href="">Privacy policy</a>
           </div>
           <div>
               <a href="">Return policy</a>
           </div>
           <div>
               <a href="">Terms</a>
           </div>
           <div>
               <br>
           </div>
        </div>
        <div class="col-sm-2">
            <div>
                <br>
            </div>
            <h6>MY ACCOUNT</h6>
            <div>
                <div>
                    <br>
                </div>
               <a href="">Sign in</a>
           </div>
           <div>
               <a href="">Order Status</a>
           </div>
           <div>
               <a href="">Contact Us</a>
           </div>
           <div>
               <br>
           </div>
        </div>
        <div class="col-sm-2">
            <div>
                <br>
            </div>
            <h6>STAY CONNECTED</h6>
            <div>
                <br>
            </div>
            <div>
                <span>
                <a href="#" class="fa fa-facebook"></a> 
                <a href="#" class="fa fa-twitter"></a> 
                <a href="#" class="fa fa-instagram"></a> 
                <a href="#" class="fa fa-linkedin"></a> 
            </span>
            </div>
        </div>

    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#">RuchiBakes.com</a>
      </div>

</div>