<div class="container">
    
        <img class="imghead" src="../../assets/images/headerimg4.jpg" alt="image">
        
        <div class="centered">
            <h1 class="title1">Blog</h1>
        </div>
</div>
<div>
    <br>
</div>

<div class="content">
    <div class="row">
        <div class="col-sm-8">
    <small>Beyond The Cake</small>
    <h2>How to Bake a Cake in Microwave Oven without Convection?</h2>
    <small>Posted by Sarika Sharma on November 19, 2020</small>
    <div>
        <br>
    </div>
    <img class="imghead" src="../../assets/images/blogcake.jpg" alt="image">
    <div>
        <br>
    </div>
    <p>
        If you have a microwave with the convection mode on, at that point 180 degrees, Celcius is the temperature at which you bake a cake. But in case if you don't have a convection mode in your microwave at that point, you need to set the power at 100%, i.e, power level 10. So, let's have a look at how to work with a normal microwave without convection mode
    </p>
</div>
<div class="col-sm-4">
    <div class="search">
        
        <p style="font-weight: bold;">Search the blog</p>
        <input type="text" style="margin-bottom: 0.2cm;" placeholder="Search the blog">
        <div>
            
            <button id="btn1" style="margin-bottom: 1.5cm;" class="btn btn-default" >Search</button>
        </div>
        
    </div>
    
    <div class="recent">
        <p style="font-weight: bold;">Recent Posts</p>

        <div class="links">
        <a href="">Best in glass: a peek at our Cafe Tea Room windows</a>
    </div>
    <div class="links">
        <a href="">Fruit cake and cheese: Yorkshire's own odd couple</a>
    </div>
    <div class="links">
        <a href="">Recipe: Leek & Harrogate Blue Cheese Tart</a>
    </div>
    <div class="links">
        <a href="">Recipe: Chocolate milkshake with a difference</a>
    </div>
    </div>
 

</div>
</div>

</div>
