<div class="container">
    
    <img class="imghead" src="../../assets/images/headerimg4.jpg" alt="image">
    
    <div class="centered">
        <h1 class="title1">Blog</h1>
    </div>
</div>
<div>
    <br>
</div>

<div class="filter" >

    
    <!-- <input class="searchbar" type="text" placeholder="Search from"> -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search from" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="col-sm-4"></div>
  <div>
    <br>
  </div>
  <div class="col-sm-3">
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Categories" name="categories">
      <button type="submit"><i class="fa fa-filter"></i></button>
    </form>

  </div>
  <div class="col-sm-1">

  </div>
  </div>
    


    <!-- <input class="categories" type="text" placeholder="Categories"> -->
  
  
</div>
<div>
    <br><br>
</div>



<div class="container">
<div class="row">
    <div class="col-sm-4" >
      <a routerLink="/blogdetails" href="">
      <div class="card mb-4 box-shadow" >
        <img class="card-img-top" style="width: 100%;height: auto;" src="../../assets/images/blogcake.jpg" alt="Card image cap">
        <div class="card-body">
            <small class="text">Beyond The Cake</small>
          <p class="card-text"><strong>How to Bake a Cake in Microwave Oven without Convection?</strong></p>
          <small class="text">November 19,2020</small>
         
        </div>
      </div>
    </a>
    </div>

    <div class="col-sm-4" >
        <div class="card mb-4 box-shadow" >
          <img class="card-img-top" style="width: 100%;height: auto;" src="../../assets/images/blogcake.jpg" alt="Card image cap">
          <div class="card-body">
              <small class="text">Beyond The Cake</small>
            <p class="card-text"><strong>How to Bake a Cake in Microwave Oven without Convection?</strong></p>
            <small class="text">November 19,2020</small>
           
          </div>
        </div>
      </div>

      <div class="col-sm-4" >
        <div class="card mb-4 box-shadow" >
          <img class="card-img-top" style="width: 100%;height: auto;" src="../../assets/images/blogcake.jpg" alt="Card image cap">
          <div class="card-body">
              <small class="text">Beyond The Cake</small>
            <p class="card-text"><strong>How to Bake a Cake in Microwave Oven without Convection?</strong></p>
            <small class="text">November 19,2020</small>
           
          </div>
        </div>
      </div>

      <div class="col-sm-4" >
        <div class="card mb-4 box-shadow" >
          <img class="card-img-top" style="width: 100%;height: auto;" src="../../assets/images/blogcake.jpg" alt="Card image cap">
          <div class="card-body">
              <small class="text">Beyond The Cake</small>
            <p class="card-text"><strong>How to Bake a Cake in Microwave Oven without Convection?</strong></p>
            <small class="text">November 19,2020</small>
           
          </div>
        </div>
      </div>

      <div class="col-sm-4" >
        <div class="card mb-4 box-shadow" >
          <img class="card-img-top" style="width: 100%;height: auto;" src="../../assets/images/blogcake.jpg" alt="Card image cap">
          <div class="card-body">
              <small class="text">Beyond The Cake</small>
            <p class="card-text"><strong>How to Bake a Cake in Microwave Oven without Convection?</strong></p>
            <small class="text">November 19,2020</small>
           
          </div>
        </div>
      </div>

      <div class="col-sm-4" >
        <div class="card mb-4 box-shadow" >
          <img class="card-img-top" style="width: 100%;height: auto;" src="../../assets/images/blogcake.jpg" alt="Card image cap">
          <div class="card-body">
              <small class="text">Beyond The Cake</small>
            <p class="card-text"><strong>How to Bake a Cake in Microwave Oven without Convection?</strong></p>
            <small class="text">November 19,2020</small>
           
          </div>
        </div>
      </div>
    </div>
</div>


